<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aselia.Patch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Aselia.Patch.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="IPRedirect" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="MaxSpeed" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="MaxClients" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MaxConcurrentConnections" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DisableUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatesPath" serializeAs="String">
                <value>updates</value>
            </setting>
            <setting name="MOTD" serializeAs="String">
                <value>Welcome to $C|Aselia$C7's Patch server software</value>
            </setting>
        </Aselia.Patch.Properties.Settings>
    </userSettings>
</configuration>